name: camoufox test
on: [push]
jobs:
  test_camoufox:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
    - name: Install scrapingbee
      run: pip install scrapingbee
    - name: Run your tests
      run: python camoufoxtest.py
